<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606035637527-d38j1nkt8t68lm9b4n89kpbe9mt9l0k9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606035637527-d38j1nkt8t68lm9b4n89kpbe9mt9l0k9</string>
	<key>API_KEY</key>
	<string>AIzaSyCPEcb-VdBizOxuwBJx7U8R8y2K44myNkg</string>
	<key>GCM_SENDER_ID</key>
	<string>606035637527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kacharmina.elena.AddEditPerson</string>
	<key>PROJECT_ID</key>
	<string>addeditperson</string>
	<key>STORAGE_BUCKET</key>
	<string>addeditperson.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606035637527:ios:885eda62f5c81e44d63352</string>
	<key>DATABASE_URL</key>
	<string>https://addeditperson.firebaseio.com</string>
</dict>
</plist>